* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background: radial-gradient(#e32828, #e5db15);
}

h1 {
    text-align: center;
    margin-top: 2rem;
    text-shadow: white 2px 2px 5px;
    margin-bottom: 1rem;
}

.photo {
    width: 80vw;
    height: 50vh;
    margin: auto;
    background-size: 80vw 50vh;
    z-index: -1;
    border: black solid 2px;
    box-shadow: white -4px 4px 5px;
}

#container {
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttonLeft, #buttonRight {
    border-radius: 50%;
    width: 3rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.53);
}
